
/*------------------------------------------------------------------

[Error Component Stylesheet]

	Project:		Slate Admin 2.0
	Version:		1.0
	Last change:	07/20/2012
	Assigned to:	Rod Howard (rh)
	

-------------------------------------------------------------------*/

.error-container {
	margin-top: 4em;
	margin-bottom: 4em;
	text-align: center;
}

.error-container h1 {
	margin-bottom: .5em;
	
	font-size: 120px;
	line-height: 1em;
}

.error-container h2 {
	margin-bottom: .75em;
	font-size: 28px;
}

.error-container .error-details {
	margin-bottom: 1.5em;
	
	font-size: 16px;
}

.error-container .error-actions a {
	margin: 0 .5em;
}




@media (max-width: 480px) {
	
	.error-container h1 {
		font-size: 72px;
	}
	
}