
/*------------------------------------------------------------------

[Pricing Page Stylesheet]

	Project:		Corona Admin
	Version:		1.0
	Last change:	06/05/2012
	Assigned to:	Rod Howard (rh)
	

-------------------------------------------------------------------*/

#pricing-header {
	margin-top: 2em;
	margin-bottom: 3em;
	text-align: center;
}

#pricing-header h1 {
	margin-bottom: .65em;
	
	font-size: 40px;
	font-weight: 600;
}

#pricing-header h2 {
	color: #777;
	
	font-size: 24px;
	font-weight: 400;
	
}